root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,mako}]
charset = utf-8
indent_style = space
indent_size = 4

[*.{js,jsx,json}]
charset = utf-8
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

[{package.json,bower.json,webpack.config.js}]
indent_size = 2
