language: python
python:
  - 2.6
  - 2.7

branches:
  only:
    - develop

cache: pip

before_script:
 - chmod +x ./tests/all_tests.py

script:
  - ./tests/all_tests.py

after_failure:
  - cat ./Logs/sickrage.log

notifications:
  irc: "irc.freenode.net#sickrage-updates"
