#DISABLE_SQLALCHEMY_CEXT=1 TORNADO_EXTENSION=0 pip install --no-binary sqlalchemy,tornado -Utlib3 -r requirements.txt
backports-abc
beautifulsoup4
beekeeper
bencode.py
CacheControl
#cfscrape
chardet
cloudscraper
configobj
feedparser
html5lib
ipaddress
Js2Py
jsonrpclib-pelix
kodipydent
Mako
markdown2
#oauthlib
PyGithub
#pyjsparser
pyOpenSSL
#pysrt
python-dateutil
python-twitter
rarfile
subliminal
tmdbsimple
tornado
tvdbsimple
Unidecode
validators
enzyme
python3-fanart
gntp
pymediainfo
tus.py
win-inet-pton
pynma
putio.py
profilehooks
httplib2
PySocks
win_inet_pton
imdbpie
imagesize
send2trash
deluge-client
ifaddr
twilio
pyaes
new-rtorrent-python
qbittorrent-api
packaging
timeago
sqlalchemy
python-slugify
guessit
requests
