interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nyaa.si/?s=id&c=1_0&page=rss&o=desc&f=0
  response:
    body: {string: "<rss xmlns:atom=\"http://www.w3.org/2005/Atom\" xmlns:nyaa=\"https://nyaa.si/xmlns/nyaa\"
        version=\"2.0\">\n\t<channel>\n\t\t<title>Nyaa - Home - Torrent File RSS</title>\n\t\t<description>RSS
        Feed for Home</description>\n\t\t<link>https://nyaa.si/</link>\n\t\t<atom:link
        href=\"https://nyaa.si/?page=rss\" rel=\"self\" type=\"application/rss+xml\"
        />\n\t\t<item>\n\t\t\t<title>[PuyaSubs!] Kishuku Gakkou no Juliet - 03 [1080p][F78DA8D5].mkv</title>\n\t\t\t\t<link>https://nyaa.si/download/1088369.torrent</link>\n\t\t\t\t<guid
        isPermaLink=\"true\">https://nyaa.si/view/1088369</guid>\n\t\t\t\t<pubDate>Sat,
        27 Oct 2018 03:56:08 -0000</pubDate>\n\n\t\t\t\t<nyaa:seeders>9</nyaa:seeders>\n\t\t\t\t<nyaa:leechers>5</nyaa:leechers>\n\t\t\t\t<nyaa:downloads>7</nyaa:downloads>\n\t\t\t\t<nyaa:infoHash>78d36ab399da31ba6f16cd68cf7b443402d89108</nyaa:infoHash>\n\t\t\t<nyaa:categoryId>1_3</nyaa:categoryId>\n\t\t\t<nyaa:category>Anime
        - Non-English-translated</nyaa:category>\n\t\t\t<nyaa:size>485.9 MiB</nyaa:size>\n\t\t\t<description><![CDATA[<a
        href=\"https://nyaa.si/view/1088369\">#1088369 | [PuyaSubs!] Kishuku Gakkou
        no Juliet - 03 [1080p][F78DA8D5].mkv</a> | 485.9 MiB | Anime - Non-English-translated
        | 78D36AB399DA31BA6F16CD68CF7B443402D89108]]></description>\n\t\t</item>\n\t\t<item>\n\t\t\t<title>[PuyaSubs!]
        Kishuku Gakkou no Juliet - 03 [720p][3373B209].mkv</title>\n\t\t\t\t<link>https://nyaa.si/download/1088368.torrent</link>\n\t\t\t\t<guid
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nyaa.si/?c=1_0&f=0&o=desc&q=Fairy+Tail+S2&s=id&page=rss
  response:
    body: {string: !!python/unicode "<rss xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:nyaa=\"https://nyaa.si/xmlns/nyaa\" version=\"2.0\">\n\t<channel>\n\t\t<title>Nyaa
        - &#34;Fairy Tail S2&#34; - Torrent File RSS</title>\n\t\t<description>RSS
        Feed for &#34;Fairy Tail S2&#34;</description>\n\t\t<link>https://nyaa.si/</link>\n\t\t<atom:link
        href=\"https://nyaa.si/?page=rss\" rel=\"self\" type=\"application/rss+xml\"
        />\n\t\t<item>\n\t\t\t<title>[3asq Upload Team] Fairy Tail S1+S2+Movies [720p]</title>\n\t\t\t\t<link>https://nyaa.si/download/1084363.[...]
