interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://horriblesubs.info/lib/search.php?nextid=0&value=Fairy+Tail+S2
  response:
    body: {string: !!python/unicode '<table class="release-info" cellpadding="0" border="0"
        cellspacing="0"><tr id="fairy-tail-s2-01-102" data-currentdisplay=""><td class="rls-label">(05/12/16)
        <a title="See all releases for this show" href="/shows/fairy-tail-s2">Fairy
        Tail S2</a> - 01-102</td><td class="linkful res-label link-480p" id="fairy-tail-s2-01-102-480p"><span
        class="res-link"><a href="#">480p</a></span></td><td class="linkful res-label
        link-720p" id="fairy-tail-s2-01-102-720p"><span class="res-link"><a href="#">720p</a></span></td><td
        class="linkful res-label link-1080p" id="fairy-tail-s2-01-102-1080p"><span
        class="res-link"><a href="#">1080p</a></span></td></tr></table><div class="release-links
        fairy-tail-s2-01-102-480p"><table class="release-table" cellpadding="0" border="0"
        cellspacing="0"><tr><td class="dl-label"><i>Fairy Tail S2 (01-102) [480p]</i></td><td
        class="dl-type hs-magnet-link"><span class="dl-link"><a title="Magnet Link"
        href="magnet:?xt=urn:btih:TJPXL76S25QKDO6XOI3HKLCQTDUU6RFZ&tr=http://open.nyaatorrents.info:6544/announce&tr=udp://tracker.openbittorrent.com:80/announce&tr=udp://tracker.coppersurfer.tk:6969/announce">[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://horriblesubs.info/lib/latest.php?nextid=0
  response:
    body: {string: !!python/unicode '<table class="release-info" cellpadding="0" border="0"
        cellspacing="0"><tr id="91-days-7-5" data-currentdisplay=""><td class="rls-label">(08/26)
        <a title="See all releases for this show" href="/shows/91-days">91 Days</a>
        - 7.5</td><td class="linkful res-label link-480p" id="91-days-7-5-480p"><span
        class="[...]
