interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://torrentproject.se/?filter=2101&s=0day&num=150&out=json
  response:
    body: {string: !!python/unicode '{"total_found":"1130","1":{"title":"Marvels.Agents.of.S.H.I.E.L.D.S03E15.HDTV.x264-KILLERS[ettv]","category":"tv","seeds":9861,"leechs":2448,"torrent_size":270732350,"torrent_hash":"b15910a2a5b6da31ce4fb68bfba25af1889fb444"},"2":{"title":"Brooklyn.Nine-Nine.S03E21.HDTV.x264-LOL[ettv]","category":"tv","seeds":5356,"leechs":988,"torrent_size":164114950,"torrent_hash":"3ef6f83931840c56a24355aac93e4f5126e265ef"},"3":{"title":"American.Crime.Story.S01E10.HDTV.x264-FUM[ettv]","category":"tv","seeds":4507,"leechs":1177,"torrent_size":447158461,"torrent_hash":"3f76d3225ccf0e1adb333720b6851beead653cb8"},"4":{"title":"iZombie.S02E17.HDTV.x264-LOL[ettv]","category":"tv","seeds":4089,[...]
