interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zooqle.com/search?q=Game+of+Thrones+S05E08+category%3Atv&fmt=rss&pg=1
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><rss version=\"2.0\"
        xmlns:torrent=\"https://zooqle.com/xmlns/0.1/index.xmlns\" xmlns:opensearch=\"http://a9.com/-/spec/opensearch/1.1/\"
        xmlns:atom=\"http://www.w3.org/2005/Atom\">\n <channel>\n\t<title>RSS search:
        \"Game of Thrones S05E08\" (1-30/148) | Zooqle\n\t</title>\n\t<description>Search
        results for \"Game of Thrones S05E08\" at Zooqle</description>\n\t<link>https://zooqle.com/search?q=Game+of+Thrones+S05E08+category%3Atv&amp;pg=1&amp;encode=1</link>\n\t<opensearch:totalResults>148</opensearch:totalResults>\n\t<opensearch:startIndex>1</opensearch:startIndex>\n\t<opensearch:itemsPerPage>30</opensearch:itemsPerPage>\n\t<atom:link
        rel=\"search\" type=\"application/opensearchdescription+xml\" href=\"https://zooqle.com/opensearch.xml\"/>\n\t<opensearch:Query
        role=\"request\" searchTerms=\"Game of Thrones S05E08\" startPage=\"1\" />\n\n\t\n\t<item>\n\t
        <title>Game of Thrones S05E08 HDTV x264-KILLERS[ettv]</title>\n\t <description><![CDATA[\t
        Torrent: \"Game of Thrones S05E08 HDTV x264-KILLERS[ettv]\", 448 MB\n\t ]]></description>\n\t
        \t <link>https://zooqle.com/game-of-thrones-s05e08-hdtv-x264-killers-ettv-kusl0.html</link>\n\t
        <guid>https://zooqle.com/game-of-thrones-s05e08-hdtv-x264-killers-ettv-kusl0.html</guid>\n\t
        <pubDate>Mon, 01 Jun 2015 04:23:05 +0000</pubDate>\n\t <enclosure url=\"https://zooqle.com/download/kusl0.torrent\"
        length=\"470173385\" type=\"application/x-bittorrent\" />\n\t <torrent:contentLength>470173385</torrent:contentLength>\n\t
        <torrent:infoHash>2C7FAC7A8B18716E7209FC4AD769642DEAB43AE1</torrent:infoHash>\n\t
        <torrent:magnetURI><![CDATA[magnet:?xt=urn:btih:2C7FAC7A8B18716E7209FC4AD769642DEAB43AE1&dn=Game%20of%20Thrones%20S05E08%20HDTV%20x264-KILLERS%5Bettv%5D]]></torrent:magnetURI>\n\t
        <torrent:seeds>233</torrent:seeds>\n\t <torrent:peers>21</torrent:peers>\n\t
        <torrent:verified>1</torrent:verified>\n\t <torrent:fileName>Game_of_Thrones_S05E08_HDTV_x264_KILLERS_ettv.torrent</torrent:fileName>\n\t</item>\n\n\t\n\t<item>\n\t
        <title>Game of Thrones S05E08 720p HDTV x264-0SEC[rarbg]</title>\n\t <description><![CDATA[\t
        Torrent: \"Game of Thrones S05E08 720p HDTV x264-0SEC[rarbg]\", 1.5 GB\n\t
        ]]></description>\n\t \t <link>https://zooqle.com/game-of-thrones-s05e08-720p-hdtv-x264-0sec-rarbg-kus1v.html</link>\n\t
        <guid>https://zooqle.com/game-of-thrones-s05e08-720p-hdtv-x264-0sec-rarbg-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://zooqle.com/search?q=Game+of+Thrones+S05+category%3Atv&fmt=rss&pg=1
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><rss version=\"2.0\"
        xmlns:torrent=\"https://zooqle.com/xmlns/0.1/index.xmlns\" xmlns:opensearch=\"http://a9.com/-/spec/opensearch/1.1/\"
        xmlns:atom=\"http://www.w3.org/2005/Atom\">\n <channel>\n\t<title>RSS search:
        \"Game of Thrones S05\" (1-30/212) | Zooqle\n\t[...]
