[Unit]
Description=sickchill daemon
Wants=network-online.target
After=network-online.target

[Service]
User=sickchill
Group=sickchill

Type=simple
ExecStart=/usr/bin/sickchill --quiet --nolaunch --no-update
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
