#import sickbeard
#import datetime
#from sickbeard import db, sbdatetime
#from sickbeard.common import *

    </div> <!-- /content -->
</div> <!-- /contentWrapper -->

<div class="footer clearfix">
	<div class="meta" style="display: table; margin: 0 auto; font-size: 12px;">
		#set $myDB = $db.DBConnection()
		#set $today = str($datetime.date.today().toordinal())
		#set status_quality = '(' + ','.join([str(quality) for quality in $Quality.SNATCHED + $Quality.SNATCHED_PROPER]) + ')'
		#set status_download = '(' + ','.join([str(quality) for quality in $Quality.DOWNLOADED + [$ARCHIVED]]) + ')'

		#set $sql_statement = 'SELECT '

		#set $sql_statement += '(SELECT COUNT(*) FROM tv_episodes WHERE season > 0 AND episode > 0 AND airdate > 1 AND status IN ' + $status_quality + ') AS ep_snatched, '
		#set $sql_statement += '(SELECT COUNT(*) FROM tv_episodes WHERE season > 0 AND episode > 0 AND airdate > 1 AND status IN ' + $status_download + ') AS ep_downloaded, '

		#set $sql_statement += '(SELECT COUNT(*) FROM tv_episodes WHERE season > 0 AND episode > 0 AND airdate > 1 '
		#set $sql_statement += ' AND ((airdate <= ' + $today + ' AND (status = ' + str($SKIPPED) + ' OR status = ' + str($WANTED) + ')) '
		#set $sql_statement += ' OR (status IN ' + status_quality + ') OR (status IN ' + status_download + '))) AS ep_total '

		#set $sql_statement += ' FROM tv_episodes tv_eps LIMIT 1'
	
		#set $sql_result = $myDB.select($sql_statement)

		#set $shows_total = len($sickbeard.showList)
		#set $shows_active = len([show for show in $sickbeard.showList if show.paused == 0 and show.status != "Ended"])

		#if $sql_result:
			#set $ep_snatched = $sql_result[0]['ep_snatched']
			#set $ep_downloaded = $sql_result[0]['ep_downloaded']
			#set $ep_total = $sql_result[0]['ep_total']
		#else
			#set $ep_snatched = 0
			#set $ep_downloaded = 0
			#set $ep_total = 0
		#end if
		
		<font color="#09A2FF">$shows_total</font> Shows (<font color="#09A2FF">$shows_active</font> Active) | <font color="#09A2FF"><%=ep_downloaded%></font>#if $ep_snatched > 0 then " (" + "<font color=\"#09A2FF\">+" + str($ep_snatched) + "</font> snatched)" else ""# / <font color="#09A2FF">$ep_total</font> Episodes Downloaded | Daily Search: <font color="#09A2FF"><%=str(sickbeard.dailySearchScheduler.timeLeft()).split('.')[0]%></font> | Backlog Search: <font color="#09A2FF">$sbdatetime.sbdatetime.sbfdate($sickbeard.backlogSearchScheduler.nextRun())</font>	

		</div>
	<!-- 
	<ul style="display: table; margin: 0 auto; font-size: 12px; list-style-type: none; padding: 0; padding-top: 10px;">
        <li><a href="$sbRoot/manage/manageSearches/forceVersionCheck"><img src="$sbRoot/images/menu/update16.png" alt="" width="16" height="16" style="vertical-align:middle;" />Force Version Check</a></li>
        <li><a href="$sbRoot/home/restart/?pid=$sbPID" class="confirm"><img src="$sbRoot/images/menu/restart16.png" alt="" width="16" height="16" style="vertical-align:middle;" />Restart</a></li>
        <li><a href="$sbRoot/home/shutdown/?pid=$sbPID" class="confirm"><img src="$sbRoot/images/menu/shutdown16.png" alt="" width="16" height="16" style="vertical-align:middle;" />Shutdown</a></li>
	</ul>
	-->
</div>
	
</body>
</html>
