#import sickbeard
<span id="sampleImdbWl"></span>

#if $sickbeard.IMDB_WATCHLISTCSV:
#set $backend_pieces = $sickbeard.IMDB_WATCHLISTCSV.split('|')
#else:
#set $backend_pieces = []
#end if


<div style="padding: 10px 0 5px;">
    <select name="imdbWatchlistCsv" id="imdbWl" size="6" style="width: 670px;">
    #for $imdbwl in $backend_pieces:
        #if $imdbwl != "":
        <option value="$imdbwl">$imdbwl</option>
        #end if
    #end for
    </select>
</div>
<div id="imdbWlControls" style="text-align: center; width: 670px; padding-bottom: 10px;">
    <input class="btn" type="button" id="addImdbWl" value="New" />
    <input class="btn" type="button" id="editImdbWl" value="Edit" />
    <input class="btn" type="button" id="deleteImdbWl" value="Delete" />

</div>
<input type="hidden" style="display: none" id="ImdbWlText" />
<input type="text" style="display: none" id="editImdbWlText" />
<div id="imdbWlUpdateControls" style="text-align: center; width: 670px;">
    <input class="btn" style="display: none" type="button" id="updateImdbWl" value="Update" />
</div>


<br />
