.tvshowDiv {
    display: block;
    clear: both;
    border: 1px solid #111;
    margin: auto;
    padding: 0px;
    text-align: left;
    width: 750px;
	border-radius: 10px;
	background: #fff;
	cursor: default;
}

.tvshowDiv a, .tvshowDiv a:link, .tvshowDiv a:visited, .tvshowDiv a:hover  {
    text-decoration: none;
    background: none;
}

.tvshowTitle a {
    color: #000000;
    float: left; 
    padding-top: 3px; 
    line-height: 1.2em;
    font-size: 1.1em;
    text-shadow: -1px -1px 0 #FFF);
}

.tvshowTitleIcons {
    float: right;
    padding: 3px 5px;
}

.tvshowDiv .title { 
    font-weight: bold;
    color: #111;
}

.posterThumb {
    -ms-interpolation-mode: bicubic; /* make scaling look nicer for ie */
    vertical-align: top;
    height: auto;
    width: 180px;
	border-right: 1px solid #111;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.bannerThumb {
    -ms-interpolation-mode: bicubic; /* make scaling look nicer for ie */
    vertical-align: top;
    height: auto;
    width: 750px;
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 1px solid #111;
}

.tvshowDiv th {
    color: #000;
    letter-spacing: 1px;
    text-align: left;
}

.tvshowDiv th.nobg {
    text-align: center;
}

.tvshowDiv td {
    padding: 5px 10px 5px 10px;
    color: #000;
}

.tvshowDiv td.next_episode {
    width: 100%;
    height: 90%;	
    border-bottom: 1px solid #111;
    vertical-align: top;
    color: #000;
}

h1.day {
    margin-top: 10px;
    padding: 4px;
    letter-spacing: 1px;
	background:#297ab8;
	background-image:-webkit-linear-gradient(top, #297ab8,#15528f) !important;
	background-image:-moz-linear-gradient(top, #297ab8,#15528f) !important;
	background-image:-o-linear-gradient(top, #297ab8,#15528f) !important;
	background-image:linear-gradient(to bottom, #297ab8,#15528f) !important;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fdf0d5, endColorstr=#fff9ee) !important;
	-ms-filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fdf0d5, endColorstr=#fff9ee) !important;
  	color: #fff;
  	text-shadow:0 1px rgba(0,0,0,0.8);
    text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-left: 1px solid #111;
	border-top: 1px solid #111;
	border-right: 1px solid #111;
}

h1.network {
    margin-top: 10px;
    padding: 4px;
    letter-spacing: 1px;
	background:#297ab8;
	background-image:-webkit-linear-gradient(top, #297ab8,#15528f) !important;
	background-image:-moz-linear-gradient(top, #297ab8,#15528f) !important;
	background-image:-o-linear-gradient(top, #297ab8,#15528f) !important;
	background-image:linear-gradient(to bottom, #297ab8,#15528f) !important;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fdf0d5, endColorstr=#fff9ee) !important;
	-ms-filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fdf0d5, endColorstr=#fff9ee) !important;
  	color: #fff;
  	text-shadow:0 1px rgba(0,0,0,0.8);
    text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-left: 1px solid #111;
	border-top: 1px solid #111;
	border-right: 1px solid #111;
}

.comingepheader > .ep_listing {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.comingepheader > .ep_listing ~ .ep_listing {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.comingepheader > * > .ep_listing ~ .ep_listing {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.listingradius {
	border-radius: 10px;
}

.ep_listing {
    width: auto;
    border: 1px solid #111;
    margin-bottom: 10px;
    /* margin: 10px; */
    /* overflow: hidden; */
    padding: 10px;
}

.h2footer .listing_default,
.h2footer .listing_current,
.h2footer .listing_waiting,
.h2footer .listing_overdue,
.h2footer .listing_toofar {
	padding: 0px 10px;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #111;
}

.listing_default {
    background-color: #ffd4aa;    
    color: #bf5f00;
}

.listing_current {
    background-color: #d4ffaa;
    color: #3f7f00;
}

.listing_waiting {
    background-color: #d4ffaa;
}

.listing_overdue {
    background-color: #ffbfbf;
    color: #ff5656;
}

.listing_toofar {
      background-color: #aad4ff;
      color: #003f7f;
}

.listing_unknown {
    background-color: #ffd4aa;
}

tr.listing_default {
    color: #111;
}

tr.listing_current {
    color: #111;
}

tr.listing_waiting {
    color: #111;
}

tr.listing_overdue {
    color: #111;
}

tr.listing_toofar {
    color: #111;
}

tr.listing_unknown {
    color: #111;
}

span.pause {
    color: #FF0000;
    font-size: 12px;
}

.ep_summaryTrigger {
/*    float: left; 
    padding-top: 9px;*/
}

.ep_summary {
    margin-left: 5px;
/*    padding-top: 5px; */
    font-style: italic;
    line-height: 21px;
}