/* =======================================================================
home.mako
========================================================================== */

.progress-100 {
	background-image: -moz-linear-gradient(#a6cf41, #5b990d) !important;
	background-image: linear-gradient(#a6cf41, #5b990d) !important;
	background-image: -webkit-linear-gradient(#a6cf41, #5b990d) !important;
	background-image: -o-linear-gradient(#a6cf41, #5b990d) !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.progress-80 {
	background-image: -moz-linear-gradient(#e1ff97, #9db269) !important;
	background-image: linear-gradient(#e1ff97, #9db269) !important;
	background-image: -webkit-linear-gradient(#e1ff97, #9db269) !important;
	background-image: -o-linear-gradient(#e1ff97, #9db269) !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.progress-60 {
	background-image: -moz-linear-gradient(#fad440, #f2a70d) !important;
	background-image: linear-gradient(#fad440, #f2a70d) !important;
	background-image: -webkit-linear-gradient(#fad440, #f2a70d) !important;
	background-image: -o-linear-gradient(#fad440, #f2a70d) !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.progress-40 {
	background-image: -moz-linear-gradient(#fab543, #f2700d) !important;
	background-image: linear-gradient(#fab543, #f2700d) !important;
	background-image: -webkit-linear-gradient(#fab543, #f2700d) !important;
	background-image: -o-linear-gradient(#fab543, #f2700d) !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.progress-20 {
	background-image: -moz-linear-gradient(#da5945, #b11a10) !important;
	background-image: linear-gradient(#da5945, #b11a10) !important;
	background-image: -webkit-linear-gradient(#da5945, #b11a10) !important;
	background-image: -o-linear-gradient(#da5945, #b11a10) !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* =======================================================================
displayShow.mako
========================================================================== */

.displayShowTable th.row-seasonheader {
	border: none !important;
	background-color: #fff !important;
	color: #000 !important;
	padding-top: 15px !important;
	text-align: left !important;
}

/* =======================================================================
testRename.mako
========================================================================== */

tr.seasonheader {
	color: #000 !important;
}

/* =======================================================================
schedule.mako
========================================================================== */

table.cal-odd {
    background-color: #ddd;
}

table.cal-even {
    background-color: #d2d2d2;
}

.calendarShow .text .airtime {
    color:#000
}

.calendarShow .text .episode-title {
    color:#888
}

/* =======================================================================
bootstrap Overrides
========================================================================== */

/* navbar styling */
.navbar-default {
    background-color: #333333;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333');
    background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
    background: -moz-linear-gradient(top,  #555,  #333);
    border-color: #3e3f3a;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #3e3f3a;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #333;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #333;
}

pre {
    color: #000;
    background-color: #F5F5F5;
    border-color: #ccc;
}

/* =======================================================================
tablesorter.css
========================================================================== */

.tablesorter {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: #000;
    text-align: left;
    background-color: #ddd;
    border-spacing: 0;
}

/* hidden filter row */
.tablesorter-filter-row.hideme td {
    /*** *********************************************** ***/
    /*** change this padding to modify the thickness     ***/
    /*** of the closed filter row (height = padding x 2) ***/
    padding: 2px;
    /*** *********************************************** ***/
    margin: 0;
    line-height: 0;
    cursor: pointer;
}

.tablesorter-filter-row.hideme * {
    height: 1px;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    /* don't use visibility: hidden because it disables tabbing */
    opacity: 0;
    filter: alpha(opacity=0);
}

/* =======================================================================
token-input.css
========================================================================== */

div.token-input-dropdown {
    background-color: #fff;
    color: #000;
    border-left-color: #ccc;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
}

/* =======================================================================
bootstarp modal
========================================================================== */

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #F5F1E4;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }
