/* =======================================================================
home.mako
========================================================================== */

.progress-100 {
    background-image: -moz-linear-gradient(#A6CF41, #5B990D) !important;
    background-image: linear-gradient(#A6CF41, #5B990D) !important;
    background-image: -webkit-linear-gradient(#A6CF41, #5B990D) !important;
    background-image: -o-linear-gradient(#A6CF41, #5B990D) !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.progress-80 {
    background-image: -moz-linear-gradient(#E1FF97, #9DB269) !important;
    background-image: linear-gradient(#E1FF97, #9DB269) !important;
    background-image: -webkit-linear-gradient(#E1FF97, #9DB269) !important;
    background-image: -o-linear-gradient(#E1FF97, #9DB269) !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.progress-60 {
    background-image: -moz-linear-gradient(#FAD440, #F2A70D) !important;
    background-image: linear-gradient(#FAD440, #F2A70D) !important;
    background-image: -webkit-linear-gradient(#FAD440, #F2A70D) !important;
    background-image: -o-linear-gradient(#FAD440, #F2A70D) !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.progress-40 {
    background-image: -moz-linear-gradient(#FAB543, #F2700D) !important;
    background-image: linear-gradient(#FAB543, #F2700D) !important;
    background-image: -webkit-linear-gradient(#FAB543, #F2700D) !important;
    background-image: -o-linear-gradient(#FAB543, #F2700D) !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.progress-20 {
    background-image: -moz-linear-gradient(#DA5945, #B11A10) !important;
    background-image: linear-gradient(#DA5945, #B11A10) !important;
    background-image: -webkit-linear-gradient(#DA5945, #B11A10) !important;
    background-image: -o-linear-gradient(#DA5945, #B11A10) !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* =======================================================================
displayShow.mako
========================================================================== */

.displayShowTable th.row-seasonheader {
    border: none !important;
    background-color: #FFFFFF !important;
    color: #000000 !important;
    padding-top: 15px !important;
    text-align: left !important;
}

/* =======================================================================
testRename.mako
========================================================================== */

tr.seasonheader {
    color: #000000 !important;
}

/* =======================================================================
schedule.mako
========================================================================== */

table.cal-odd {
    background-color: #DDDDDD;
}

table.cal-even {
    background-color: #D2D2D2;
}

.calendarShow .text .airtime {
    color: #000000
}

.calendarShow .text .episode-title {
    color: #888888
}

/* =======================================================================
bootstrap Overrides
========================================================================== */

/* navbar styling */
.navbar-default {
    background-color: #333333;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333');
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#333333));
    background: -moz-linear-gradient(top, #555555, #333333);
    border-color: #3E3F3A;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #3E3F3A;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #333333;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #333333;
}

pre {
    color: #000000;
    background-color: #F5F5F5;
    border-color: #CCCCCC;
}

/* =======================================================================
tablesorter.css
========================================================================== */

.tablesorter {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: #000000;
    text-align: left;
    background-color: #DDDDDD;
    border-spacing: 0;
}

/* hidden filter row */
.tablesorter-filter-row.hideme td {
    /*** *********************************************** ***/
    /*** change this padding to modify the thickness     ***/
    /*** of the closed filter row (height = padding x 2) ***/
    padding: 2px;
    /*** *********************************************** ***/
    margin: 0;
    line-height: 0;
    cursor: pointer;
}

.tablesorter-filter-row.hideme * {
    height: 1px;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    /* don't use visibility: hidden because it disables tabbing */
    opacity: 0;
    filter: alpha(opacity=0);
}

/* =======================================================================
token-input.css
========================================================================== */

div.token-input-dropdown {
    background-color: #FFFFFF;
    color: #000000;
    border-left-color: #CCCCCC;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
}

/* =======================================================================
bootstarp modal
========================================================================== */

.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #EEEEEE;
    background-color: #F5F1E4;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
