#container, #container-anime {
	margin-bottom: 20px;
	margin-top: -7px;
}

.show {
    margin: 10px;
    background-color: #333;
    border-radius: 3px;
	width: 186px;
	height: 324px;
	border: 1px solid #111;
	border-radius: 10px;
}

.show-image {
	overflow: hidden;
	position: relative;
	height: 273px;
    width: 186px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.show-image-slide {
	background-color: rgba(42,42,42,0.7);
	border-top: 1px solid #111;
	text-shadow: 1px 1px #000;
	width: 180px;
	padding: 6px;
	position: absolute;
	bottom: -100px;
	transition: all 0.5s ease;
	cursor: default;
	pointer-events: none;
}

.show-image:hover .show-image-slide {
	bottom: 0;
}

.show .ui-progressbar {
	height: 6px !important;
	top: -2px;
}

.show .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}

.show .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}

.show .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}

.show .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}

.show .ui-widget-content {
    border-top: 1px solid #111;
	border-bottom: 1px solid #111;
	border-left: 0px;
	border-right: 0px;
}

.show .progress-80 {
	border-radius: 0px;
}

.show .progress-60 {
	border-radius: 0px;
}

.show .progress-40 {
	border-radius: 0px;
}

.show .progress-20 {
	border-radius: 0px;
}

.show-add {
	text-shadow: 1px 1px #000;
	font-size: 11px;
	text-align: left;
	display: block;
}

.show-date {
	text-shadow: 1px 1px #000;
	font-size: 11px;
	text-align: left;
	display: block;
	line-height: 18px;
}

.show-status {
	text-shadow: 1px 1px #000;
	font-size: 11px;
	text-align: left;
	display: block;
	line-height: 34px;
}

.show-network-image {
	width: 50px;
	height: auto;
}

.show-dlstats {
	text-shadow: 1px 1px #000;
	font-size: 11px;
	text-align: right;
	display: block;
	line-height: 18px;
}

#sort-by {
	display: inline;
	list-style-type: none; 
 	padding: 0;
	margin-left: 5px;
}

#sort-by ul, #sort-by li {
	display: inline;
	margin: 0;
	padding: 0;
}
