.traktShowDiv {

    clear: both;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    margin: auto;
    padding: 0px;
    text-align: left;
    width: 750px;
}

.traktShowDiv a, .traktShowDiv a:link, .traktShowDiv a:visited, .traktShowDiv a:hover  {
    text-decoration: none;
    background: none;
}

.traktShowTitle a {
    color: #000000;
    float: left; 
    padding-top: 3px; 
    line-height: 1.2em;
    font-size: 1.1em;
    text-shadow: -1px -1px 0 #FFF);
}

.traktShowTitleIcons {
    float: right;
    padding: 3px 5px;
}

.traktShowDiv .title { 
    font-weight: 900;
    color: #333;
}
.imgWrapper {
	background: url("../images/loading.gif") no-repeat scroll center center #FFFFFF;
    border: 3px solid #FFFFFF;
    box-shadow: 1px 1px 2px 0 #555555;
    float: left;
    height: 50px;
    overflow: hidden;
    text-indent: -3000px;
    width: 50px;
}
.imgWrapper .traktPosterThumb {
	float: left;
    min-height: 100%;
    min-width: 100%;
    width: 50px;
    height: auto;
    position: relative;
    border: none;
    vertical-align: middle;
}
.traktPosterThumb {
    -ms-interpolation-mode: bicubic; /* make scaling look nicer for ie */
    vertical-align: top;
    height: auto;
    width: 160px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.traktShowDiv th {
    color: #000;
    letter-spacing: 1px;
    text-align: left;
    background-color: #333333;
}

.traktShowDiv th.nobg {
    background: #efefef;
    border-top: 1px solid #666;
    text-align: center;
}

.traktShowDiv td {
    border-top: 1px solid #d2ebe8;
    background: #fff;
    padding: 5px 10px 5px 10px;
    color: #000;
}

.traktShowDiv td.trakts_show {
    width: 100%;
    height: 90%;	
    border-top: 1px solid #ccc;
    vertical-align: top;
    background: #F5FAFA;
    color: #000;
}
