.traktShowTitleIcons {
    float: right;
	padding-right: 5px;
	padding-bottom: 5px;
}

.traktContainer h2, .traktContainer i { 
    white-space: nowrap;
	font-size: 14px;
	overflow: hidden;
	text-shadow: 1px 1px 0px #000;
	padding-left: 5px;
}

.traktContainer {
    margin: 0px auto;
	margin-bottom: 20px;
    width: 186px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-shadow:0 1px rgba(0,0,0,0.5);
	background: #333;
	border: 1px solid #111;
}

.trakt-image {
	background-image: url(../images/poster.png);
	background-size: 186px 273px;
	overflow: hidden;
	position: relative;
	height: 273px;
    width: 186px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 1px solid #111;
}

.trakt-image-slide {
	background-color: rgba(42,42,42,0.7);
	border-top: 1px solid #111;
	text-shadow: 1px 1px #000;
	width: 186px;
	padding: 6px;
	position: absolute;
	bottom: -100px;
	transition: all 0.5s ease;
	cursor: default;
}

.trakt-image:hover .trakt-image-slide {
	bottom: 0;
}
