name: Next version number

on:
  workflow_dispatch:
  workflow_call:
  push:

jobs:
  calver:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Calver Release
        uses: StephaneBour/actions-calver@master
        id: calver
        with:
          date_format: "%Y.%m.%d"
          release: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy
        run: echo ${{ env.VERSION }}
        env:
          VERSION: ${{ steps.calver.outputs.release }}
