# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python Packaging

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  DOCKER_BUILDKIT: '1'
  TARGET_PLATFORMS: "linux/386,linux/amd64,linux/arm/v7,linux/arm64/v8,linux/ppc64le,linux/s390x"

defaults:
  run:
    shell: bash

jobs:
  Test:
    strategy:
      matrix:
        os: [ubuntu-22.04]
        python-version: [3.7, 3.8, 3.9, "3.10"]
        experimental: [false]
        include:
          - os: windows-latest
            python-version: 3.9
            experimental: true
          - os: macos-latest
            python-version: 3.9
            experimental: true
          - os: ubuntu-22.04
            python-version: "3.11-dev"
            experimental: true
          - os: ubuntu-22.04
            python-version: "pypy-3.7"
            experimental: true
          - os: ubuntu-22.04
            python-version: "pypy-3.8"
            experimental: true
          - os: ubuntu-22.04
            python-version: "pypy-3.9"
            experimental: true
      fail-fast: false
#      fail-fast: true
    continue-on-error: true
#    continue-on-error: ${{ matrix.experimental }}
    runs-on: ${{ matrix.os }}
    steps:
    - name: Cancel Previous Runs
      if: success() && !env.ACT
      uses: styfle/cancel-workflow-action@0.10.0
      with:
        access_token: ${{ github.token }}
    - name: Checkout
      if: success() && !env.ACT
      uses: actions/checkout@v3
      with:
        fetch-depth: 1
        persist-credentials: false
    - name: Lint shell scripts
      if: success() && startsWith(runner.os, 'Linux') && matrix.python-version == 3.10 && !env.ACT
      uses: ludeeus/action-shellcheck@master
      with:
        format: diff
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache-dependency-path: pyproject.toml
    - name: Set up Node
      if: success() && startsWith(runner.os, 'Linux') && matrix.python-version == 3.10
      uses: actions/setup-node@v3
      with:
        node-version: '16.x'
        cache: 'yarn'
    - name: Install yarn
      if: success() && startsWith(runner.os, 'Linux') && matrix.python-version == 3.10
      run: npm install -g yarn
    - name: Install Poetry
      uses: snok/install-poetry@v1.3.1
      with:
        version: 1.2.1
        virtualenvs-path: .venv
        virtualenvs-create: true
        virtualenvs-in-project: true
        installer-parallel: false
    - name: Restore poetry cache
      if: success() && !env.ACT
      uses: actions/cache@v3
      with:
        path: $(poetry config cache-dir)
        key: ${{ runner.os }}-poetry-${{ matrix.python-version }}-${{ hashFiles('**/pyproject.toml') }}
    - name: Restore virtualenv
      if: success() && !env.ACT
      uses: actions/cache@v3
      with:
        path: .venv
        key: ${{ runner.os }}-virtualenv-${{ matrix.python-version }}-${{ hashFiles('**/pyproject.toml') }}
    - name: Update pip
      run: |
        curl -sSL https://bootstrap.pypa.io/get-pip.py -o get-pip.py
        poetry run python get-pip.py
    - name: Install dependencies
      run: |
        poetry lock --no-update
        poetry install --no-interaction --with dev --with speedups
        pip install poethepoet
    - name: Run yarn
      if: success() && startsWith(runner.os, 'Linux') && matrix.python-version == 3.10
      run: poe yarn
    - name: Lint Python
      if: success() && startsWith(runner.os, 'Linux') && matrix.python-version == 3.10
      run: poe lint
    - name: Lint and test Javascript
      if: success() && startsWith(runner.os, 'Linux') && matrix.python-version == 3.10
      run: poe yarn test
    - name: Test Python
      run: |
        poe pytest
        poe codecov --env OS=${{ runner.os }} Interpreter="$(poetry run python -V)" -t ${{ secrets.CODECOV_TOKEN }}
      shell: bash
  Deploy:
    needs: [Test]
    runs-on: ubuntu-22.04
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.10.0
      with:
        access_token: ${{ github.token }}
    - name: Checkout
      if: success() && !env.ACT
      uses: actions/checkout@v3
      with:
        fetch-depth: 1
        persist-credentials: false
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - name: Login to DockerHub
      if: github.actor == 'miigotu' && !env.ACT
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Login to GitHub Container Registry
      if: github.actor == 'miigotu' && !env.ACT
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Install Poetry
      uses: snok/install-poetry@v1.3.1
      with:
        version: 1.2.1
        virtualenvs-create: false
        installer-parallel: false
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: |
          ${{ github.repository }}
          ghcr.io/${{ github.repository }}
        labels: |
          org.opencontainers.image.source=https://github.com/sickchill/sickchill
          org.opencontainers.image.url=https://sickchill.github.io
          org.opencontainers.image.licenses=GPL-3.0+
        tags: |
          type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
          type=schedule
          type=ref,event=branch
          type=ref,event=tag
          type=ref,event=pr
          type=raw,prefix=${{ github.ref_name }},suffix=,value=${{ github.run_id }},event=push
          type=raw,prefix=${{ github.ref_name }},suffix=,value=${{ github.sha }},event=push
          type=raw,prefix=,suffix=,value=${{ github.head_ref }},event=pr
          type=raw,prefix=,suffix=,value=${{ github.ref_name }},event=push,enable=${{ github.event_name != 'pull_request' }}
          type=edge,branch=develop
          type=semver,pattern={{version}},enable=${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
          type=semver,pattern={{major}}.{{minor}},enable=${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
    - name: Build and Push
      if: github.actor == 'miigotu'
      uses: docker/build-push-action@v3
      with:
        context: .
        platforms: ${{ env.TARGET_PLATFORMS }}
        push: ${{ github.event_name != 'pull_request' && !env.ACT }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        target: sickchill-final
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache-new
        build-args: SOURCE=1
      # Temp fix
      # https://github.com/docker/build-push-action/issues/252
      # https://github.com/moby/buildkit/issues/1896
    - name: Move cache to prevent docker cache leak
      if: always()
      run: |
        if [ -e /tmp/.buildx-cache-new ]; then rm -rf /tmp/.buildx-cache /tmp/.buildx-cache-wheels && mv /tmp/.buildx-cache-new /tmp/.buildx-cache && cp -R /tmp/.buildx-cache /tmp/.buildx-cache-wheels; fi
    - name: Snag wheels
      if: github.actor == 'miigotu'
      uses: docker/build-push-action@v3
      with:
        context: .
        file: Dockerfile
        platforms: ${{ env.TARGET_PLATFORMS }}
        push: false
        outputs: type=local,dest=/tmp/sickchill-wheels
        target: sickchill-wheels
        cache-from: type=local,src=/tmp/.buildx-cache-wheels
        cache-to: type=local,dest=/tmp/.buildx-cache-wheels-new
        build-args: |
          SOURCE=1
    - name: List wheels directory
      if: github.actor == 'miigotu'
      run: |
        ls -R /tmp/sickchill-wheels
    - name: Upload linux/amd64 wheels
      uses: actions/upload-artifact@v3
      with:
        name: amd64
        path: /tmp/sickchill-wheels/linux_amd64
    - name: Upload linux/arm64 wheels
      uses: actions/upload-artifact@v3
      with:
        name: arm64
        path: /tmp/sickchill-wheels/linux_arm64
#    - name: Upload linux/arm/v6 wheels
#      uses: actions/upload-artifact@v3
#      with:
#        name: armv6
#        path: /tmp/sickchill-wheels/linux_arm_v6
#    - name: Upload linux/arm/v7 wheels
#      uses: actions/upload-artifact@v3
#      with:
#        name: armv7
#        path: /tmp/sickchill-wheels/lnux_arm_v7
    - name: Move wheels docker cache to prevent cache leak
      run: |
        if [ -e /tmp/.buildx-cache-wheels-new ]; then rm -rf /tmp/.buildx-cache-wheels && mv /tmp/.buildx-cache-wheels-new /tmp/.buildx-cache-wheels; fi
