name: Pypi

on:
  workflow_dispatch:

jobs:
  Release:
    runs-on: ubuntu-latest
    if: github.actor == 'miigotu'
    steps:
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U poetry
      - name: Checkout SickChill
        uses: actions/checkout@v2
        with:
          ref: master
          path: sickchill
      - name: Publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        working-directory: sickchill
        run: |
          git config --global user.name miigotu
          git config --global user.email miigotu@gmail.com
          poetry build
          poetry publish
