name: Pypi

on:
  workflow_run:
    workflows: [ "Python Packaging" ]
    branches: |
      - master
      - test-deploy
#    tags:
#      - 20*
    type:
      - complete

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  Release:
    runs-on: ubuntu-22.04
    if: github.event.workflow_run.conclusion == "success" && github.actor == "miigotu"
    steps:
      - name: Install Poetry
        uses: miigotu/install-poetry@bash-windows
        with:
          virtualenvs-path: .venv
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: false
      - name: Activate venv
        run:
          source $VENV
      - name: Checkout SickChill
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: sickchill
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
          cache: "poetry"
          cache-dependency-path: pyproject.toml
      - name: Bump version
        run: |
          poetry install
          # Set release version to todays date
          # debchange with gbd-change with new version
      - name: Publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        working-directory: sickchill
        run: |
          git config --global user.name miigotu
          git config --global user.email miigotu@gmail.com
          poetry build
          poetry publish
